{% extends "base.html" %}

{% block "title" %}Užsakymas{% endblock %}

{% block "content" %}
<p><strong>Automobilis: </strong>{{ order.car }}</p>
<p><strong>Data: </strong>{{ order.date }}</p>
<p><strong>Klientas: </strong>{{ order.client }}</p>
<p><strong>Būsena: </strong>{{ order.get_status_display }}</p>
<table class="table table-hover">
    <thead>
      <tr>
        <th>Paslauga</th>
        <th>Kaina</th>
        <th>Kiekis</th>
        <th>Suma</th>
      </tr>
    </thead>
    <tbody>
{% for line in order.lines.all %}
      <tr>
        <td>{{ line.service }}</td>
        <td class="text-end pe-5">{{ line.service.price }}&nbspEur</td>
        <td>{{ line.qty }}</td>
        <td>{{ line.line_sum }}</td>
      </tr>
{% endfor %}
      <tr>
          <td colspan="3" class="text-end"><strong>BENDRA SUMA:</strong></td>
          <td><strong>{{ order.total }}</strong></td>
      </tr>
    </tbody>
  </table>
{% endblock %}